@import "tailwindcss";
/* styles.css أو index.css */
/* تخصيص السكرول */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Dark Mode Scrollbar */
  .dark ::-webkit-scrollbar-thumb {
    background: #4a5568; /* لون السكرول في الوضع الداكن */
  }
  
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #2d3748; /* لون السكرول عند التمرير في الوضع الداكن */
  }
  